$mainBackgroundColor: #ccdae6;
$blueTextColor: #1369C6;
$whiteTextColor: white;
$pinkTextColor: #FF498C;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&family=Open+Sans:wght@400;600;700&display=swap');
$inter: 'Inter', sans-serif;
$openSans: 'Open Sans', sans-serif;
$menuFontSize: 20px;
