.main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  padding-top: 10vh;
}

.main .headline {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  /* identical to box height */

  color: #367ded;
}
